.forgotpass-container {
  background-color: white;
  color: black;
  min-height: 100vh;
}

.back-btn {
  width: 100%;
  display: flex;
  justify-content: center;
}

.forgot-form {
  height: 13rem;
}

.aler-message {
  color: green;
  font-size: 0.8rem;
}
